.table {
	width: 100%;
	table-layout: fixed;
	color: #457db1;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6
}
.table td {
	padding-top: 3px;
	padding-bottom: 3px;
	overflow: hidden;
	text-overflow: ellipsis
}
.table tr td:first-of-type {
	padding-left: 30px
}
.table tr td:last-of-type {
	padding-right: 30px
}
.table-label {
	font-weight: 600
}
.table-align {
	text-align: right;
	padding-right: 15px;
	width: 180px
}
.table-middle td {
	width: 50%
}
.table-additional-info {
	font-size: 12px;
	color: #175d9d;
	font-weight: 600;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.table-additional-info-ico {
	margin-right: 5px
}
.table-additional-info-ico svg {
	width: 15px;
	height: 10px
}

.table--stripes tr:nth-child(odd) td {
	background-color: #f4f7fa
}
.table-compensation {
	width: 90%;
	margin: 20px auto;
	table-layout: fixed;
	font-size: 10px;
	color: #175d9d;
	text-align: left
}
.table-compensation th {
	font-weight: 700;
	text-transform: uppercase
}
.table-compensation {
	border-collapse: collapse
}
.table-compensation strong {
	font-weight: 700;
	text-transform: uppercase
}
.table-compensation td, .table-compensation th {
	padding: 10px 5px;
	border: 1px solid #c4d6e7
}
.table-compensation tr td:first-child, .table-compensation tr th:first-child {
	width: 130px
}
.table-compensation tr:first-child th {
	border-top: 0
}
.table-compensation tr:last-child td {
	border-bottom: 0
}
.table-compensation tr td:first-child, .table-compensation tr th:first-child {
	border-left: 0
}
.table-compensation tr td:last-child, .table-compensation tr th:last-child {
	border-right: 0
}
.table--typeb {
	border-collapse: collapse;
	border-spacing: 0
}
.table--typeb tr td:first-of-type {
	padding-left: 6px
}
.table--typeb th {
	font-weight: 700;
	background-color: #f4f7fa;
	text-align: left
}
.table--typeb td, .table--typeb th {
	border: 1px solid #d3e0ec;
	padding: 7px
}
.table--typeb td:first-of-type, .table--typeb th:first-of-type {
	border-left: none
}
.table--typeb td:last-of-type, .table--typeb th:last-of-type {
	border-right: none
}
.table--typeb th {
	border-top: none
}
.table--stripes.table--typeb tr td {
	background-color: #e6eef6
}
.table--stripes.table--typeb tr:nth-child(2n) td {
	background-color: #f4f7fa
}
.table--side-left {
	border-left: 1px solid #bfd2e5
}
.table-link {
	color: #175d9d
}
